# توکن ربات تلگرام (از @BotFather بگیر)
TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# آیدی چت تلگرام خودت (از @userinfobot یا @getidsbot بگیر)
TELEGRAM_CHAT_ID=123456789

# پورت سرور (برای لوکال)
PORT=3000
